<ion-view view-title="Campaign Champion">
    <ion-content padding="true">
        <h1>Campaign Champion</h1>
        <div class="row">
            <div class="col">
                <h3>Campaigns:
            </div>
            <div class="col">   
                <a href="#/app/start-campaign" class="button button-royal">
                    New Campaign
                </a>
            </div>
        </div>
        <h3>Campaign for Urea Cycle Disorders</h3>
        <p>Goal: $5,000</p>
        <p>Raised so far: $2,400</p>
        <div class="list card">
            <div class="item item-divider">
                Donations
            </div>
            <a href="#" class="item item-button-right">
                09/01/16 Abby Smith $50
                <button class="button button-royal">
                    Thank
                </button>
            </a>

            <a href="#" class="item item-button-right">
                09/02/16 Nick Moran $75
                <button class="button button-royal">
                    Thank
                </button>
            </a>

            <a href="#" class="item item-button-right">
                09/03/16 Judy O'Hern $100
                <button class="button button-royal">
                    Thank
                </button>
            </a>

            <a href="#" class="item item-button-right">
                09/04/16 Jaya Patnaik $75
                <button class="button button-royal">
                    Thank
                </button>
            </a>

            <a href="#" class="item item-button-right">
                09/05/16 Ravi Bear $225
                <button class="button button-royal">
                    Thank
                </button>
            </a>
        </div>
        <div class="card">
            <div class="list">
                <label class="item item-input">
                    <textarea rows="6" placeholder="Update potential donors:"></textarea>
                </label>
            </div>
        </div>
        <button class="button button-royal">
            Import email addresses
        </button>
        <div class="list card">

            <ion-list>

                <ion-checkbox>Anna Smith</ion-checkbox>
                <ion-checkbox>Eynar Wills</ion-checkbox>
                <ion-checkbox>Maya Ramesh</ion-checkbox>
                <ion-checkbox>Avi Peterson</ion-checkbox>
                <ion-checkbox>Alex Ni</ion-checkbox>

            </ion-list>

        </div>
        <button class="button button-block button-royal">
            Send
        </button>
    </ion-content>
</ion-view>
