<ion-view view-title="Contact Us">
    <ion-content padding="true">
        <a href="#/app/home">
            <button class="button button-block button-royal icon-left ion-chevron-left">
                Home
            </button>
        </a>
<h2>We want to hear from you!</h2>
<div class="list">
    <label class="item item-input">
    <input type="text" placeholder="First Name">
    </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Email Address">
  </label>
  <h2>Please tell us how we can help you</h2>
   <label class="item item-input">
     <textarea rows="6" placeholder="Comments:"></textarea>
   </label>
</div>

<h2>I am interested in</h2>
<select>
  <option value="DNA testing">DNA testing</option>
  <option value="Patient support">Patient support</option>
  <option value="Get a diagnosis">Get a diagnosis</option>
  <option value="Expert help">Expert help"</option>
  <option value="Other">Other</option>
</select>

<div class="button-bar">
      <a class="button">Submit</a>
</div>
    
    </ion-content>
</ion-view>
