<ion-view view-title="Donations">
    <ion-content padding="true">
        <a href="#/app/home">
            <button class="button button-block button-royal icon-left ion-chevron-left">
                Home
            </button>
        </a>

        <button class="button button-block button-light">
            Don Donater
        </button>

        <div class="item range">
            <h2>Bronze</h2>
            <input type="range" name="volume" value="100" disabled>
        </div>
        <div class="item range">
            <h2>Silver</h2>
            <input type="range" name="volume" value="50" disabled>
        </div>
        <div class="item range">
            <h2>Gold</h2>
            <input type="range" name="volume" value="0" disabled>
        </div>
    </ion-content>
</ion-view>
