<ion-view view-title="My Documents">
    <ion-content padding="true">
        <a href="#/app/home">
        </a>
 <div class="list card">

  <h2>DNA Testing</h2>
  <div class="item item-body">
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
  </div>

   <h2>Bloodwork</h2>
  <div class="item item-body">
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
  </div>

   <h2>Photographs</h2>
  <div class="item item-body">
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
  </div>
<button class="row">Add a document</button>

<div class="row row-bottom">
  <div class="col"><i class="icon ion-videocamera"></i><i class="icon ion-camera"></i></div>
</div>

</div>
</ion-content>
    </ion-view>