<ion-view view-title="My Profile">
    <ion-content>
        <a href="#/app/home">
        </a>
<div class="row">
  <div class="col">
    <select>
      <option value="Patient">DNA testing</option>
      <option value="Caregiver">Patient support</option>
      <option value="Other">Other</option>
    </select>
  </div>
 <div class="col">
  	<div class="list">
    <a class="item item-thumbnail-right" href="#">
      <img src="#">
      <h1>Add photo</h1>
      <p>Nine Inch Nails</p>
    </a>
    </div>
 </div>
</div> 
<div class="col">
   <label class="item item-input">
     <textarea rows="6" placeholder="Comments:"></textarea>
   </label>
   <label class="item item-input">
     <textarea rows="6" placeholder="Comments:"></textarea>
    </label>
</div>
 <h1>Condition(s):</h1>
<div class="row row-center">
   <div class="col">Diabetes</div>
   <div class="col">Bronchiectasis</div>
   <div class="col"><i class="icon ion-plus"></i></div>
</div>
<div class="row">
      <ion-list>
         <ion-checkbox>Allow my profile to be visible in communitites and donor searches.</ion-checkbox>
      </ion-list>
</div>
      <button class="button button-block button-royal">
            Preview
      </button>
    </ion-content>
</ion-view>