<ion-view view-title="News & Updates">
    <ion-content>
        <a href="#/app/home">
            <button class="button button-block button-royal icon-left ion-chevron-left">
                Home
            </button>
        </a>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
                <i style="margin-right: 1em;" class="icon ion-funnel"></i>
            </label>
            
        </div>

        <div class="item item-thumbnail-left item-text-wrap">
            <img src="../img/medical-research-platform.jpg">
            <h2>Rare Genomics Institute Launches a New Personalized Medical Research Platform</h2>
            <p>Service features pro bono, patient-centric, consulting from cutting-edge scientists and medical experts.</p>
        </div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="../img/story-makers.png">
            <h2>Public Voting for RGI - Storymakers 2016</h2>
            <p>Help RGI win the $5,000 Audience Choice Award! Click here to vote for the RGI Storymakers video!</p>
        </div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="../img/genentech.png">
            <h2>GENENTECH & UC LIBRARY SELECTION – WEBINAR VIDEO</h2>
            <p>Hear an engaged debate on library selection from the Biology and Chemistry perspectives.</p>
        </div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="../img/medical-research-platform.jpg">
            <h2>Rare Genomics Institute Launches a New Personalized Medical Research Platform</h2>
            <p>Service features pro bono, patient-centric, consulting from cutting-edge scientists and medical experts.</p>
        </div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="../img/story-makers.png">
            <h2>Public Voting for RGI - Storymakers 2016</h2>
            <p>Help RGI win the $5,000 Audience Choice Award! Click here to vote for the RGI Storymakers video!</p>
        </div>
        <button class="button button-block button-royal">
            Load More
        </button>
    </ion-content>
</ion-view>
