<ion-view view-title="Patient Details">
    <ion-content padding="true">
        <a href="#/app/patients">
            <button class="button button-block button-royal icon-left ion-chevron-left">
                Patients
            </button>
        </a>

        <div class="list card">

            <div class="item item-body">
                <img class="full-image" src="img/patient-sheena.png">
                <a class="item donations" href="#">
                <p>$100,000</p>
                <div class="donate-graph">
                </div>
                <p>John B: Rare Disease</p>
                <p>Austin, Texas</p>
            </a>
            </div>
            <a class="item royal" href="#/app/patient-donate">
                <button class="button button-block button-royal">
                    DONATE
                </button>

            </a>

            <button class="button button-block button-light">
                Recent Activity
            </button>
            <ul class="list">
                <li class="item">
                    by Anonymous
                    <span class="item-note">$100</span>
                </li>
                <li class="item">
                    by Anonymous
                    <span class="item-note">$100</span>
                </li>
                <li class="item">
                    by Anonymous
                    <span class="item-note">$100</span>
                </li>
            </ul>

        </div>

    </ion-content>
</ion-view>
