<ion-view view-title="Patient Details">
    <ion-content padding="true">
        <a href="#/app/patients">
            <button class="button button-block button-royal icon-left ion-chevron-left">
                Patients
            </button>
        </a>

        <div class="list card">

            <div class="item item-body">
                <img class="full-image" src="img/patient-sheena.png">
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <a class="item royal" href="#/app/donate">
                <button class="button button-block button-royal">
                    DONATE
                </button>

            </a>

            <button class="button button-block button-light">
                Recent Activity
            </button>
            <ul class="list">
                <li class="item">
                    by Anonymous
                    <span class="item-note">$100</span>
                </li>
                <li class="item">
                    by Anonymous
                    <span class="item-note">$100</span>
                </li>
                <li class="item">
                    by Anonymous
                    <span class="item-note">$100</span>
                </li>
            </ul>

        </div>

    </ion-content>
</ion-view>
