<ion-view view-title="Patients">
    <ion-content padding="true">
        <a href="#/app/home">
            <button class="button button-block button-royal icon-left ion-chevron-left">
                Home
            </button>
        </a>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
                <i style="margin-right: 1em;" class="icon ion-funnel"></i>
            </label>
            
        </div>

        <a href="#/app/patient-details" style="text-decoration: none;">
        <div class="item item-thumbnail-left item-text-wrap">
                <img src="img/sheena.png">
                <h2>Sheena</h2>
                <p>Hello. My name is Sheena. I am 28 and I live in Texas.</p>
            </div>
            <div class="item item-thumbnail-left item-text-wrap">
                <img src="img/balazs.png">
                <h2>Balazs</h2>
                <p>Balazs is a 6 year-old, very cute, mischievous little boy.</p>
            </div>
            <div class="item item-thumbnail-left item-text-wrap">
                <img src="img/windsor.png">
                <h2>Windsor</h2>
                <p>Windsor is a beautiful 23 month-old girl who loves music and loves to play!</p>
            </div>
            <div class="item item-thumbnail-left item-text-wrap">
                <img src="img/saba.png">
                <h2>Saba</h2>
                <p>Pain - A great protective mechanism a human can have. Imagine if you get hurt and don’t feel it.</p>
            </div>
            <div class="item item-thumbnail-left item-text-wrap">
                <img src="img/gavin.png">
                <h2>Gavin</h2>
                <p>Gavin is a 39 year-old man who has been living with an excruciatingly painful disease for 20 years.</p>
            </div>
        </a>

        
        <button class="button button-block button-royal">
            Load More
        </button>
    </ion-content>
</ion-view>
