<ion-view view-title="My Preferences">
    <ion-content>
        <a href="#/app/home">
       </a>
<div>
    <ion-list>
      <ion-checkbox>Allow push notification</ion-checkbox>
      <ion-checkbox>Enable fingerprint ID for sign-in</ion-checkbox>
      <ion-checkbox>Allow caregiver access</ion-checkbox>
    </ion-list>

    <div class="list list-inset">
       <label class="item item-input">
         <input type="text" placeholder="caregiver username">
       </label>
       <label class="item item-input">
         <input type="text" placeholder="caregiver password">
       </label>
    </div>
</div>
        
</ion-content>
    </ion-view>