<ion-view view-title="Profile">
    <ion-content>
        <a href="#/app/home">
            <button class="button button-block button-royal icon-left ion-chevron-left">
                Home
            </button>
        </a>

        <div class="list card">

            <div class="item item-body">
                <img class="full-image" src="../img/patient-sheena.png">
                <a class="item " href="#">
                    <button class="button button-block button-royal">
                        Add Photo
                    </button>
                </a>
            </div>

            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="First Name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Last Name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Email">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Address 1">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Address 2">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="City">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="State">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Zip Code">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Phone Number">
                </label>
            </div>

            <button class="button button-block button-royal">
                        Save
                </button>

        </div>
    </ion-content>
</ion-view>
