<ion-view view-title="Start Campaign">
    <ion-content padding="true">
        <a href="#/app/home" class="button button-block button-royal icon-left ion-chevron-left">
            Home
        </a>
        <h1>Campaign Champion</h1>
        <p>Thank you for starting a campaign! It is the support of heroes like yourself that makes the fight against rare diseases possible!</p>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Campaign name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Campaign goal">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Campaign beneficiary or Condition">
            </label>
        </div>
        <div class="card">
            <div class="list">
                <label class="item item-input">
                    <textarea rows="6" placeholder="Letter to potential donors"></textarea>
                </label>
            </div>
        </div>
        <button class="button button-royal">
            Import email addresses
        </button>
        <div class="list card">

            <ion-list>

                <ion-checkbox>Anna Smith</ion-checkbox>
                <ion-checkbox>Eynar Wills</ion-checkbox>
                <ion-checkbox>Maya Ramesh</ion-checkbox>
                <ion-checkbox>Avi Peterson</ion-checkbox>
                <ion-checkbox>Alex Ni</ion-checkbox>

            </ion-list>

        </div>
        <button class="button button-block button-royal">
            Send
        </button>
    </ion-content>
</ion-view>
